@import '../scss/variables.scss';


.content__button_prev {
    padding: 28px;
    border: 1px solid $marble;
    cursor: pointer;
    background-color: $white;
    position: relative;
    &:hover {
        background-color: $marble;
    }

    &::before {
        content: url('../assets/Vector.svg');
        display: block;
        position: absolute;
        transform: rotate(180deg);
        left: 21px;
        top: 15px;
    }
}